.menu {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.7rem;

    display: flex;
    z-index: 2;
    background: #1c273e;
    align-items: center;
    color: #f4f5f7;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 10px;
}

.seminar {
    font-size: 24px;
    margin: 0 auto;
    letter-spacing: 0.2em;
}

.seminar:hover {
    cursor: pointer;
    opacity: 0.8;
}

.seminar_name {
    display: inline-block;
}

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link {
    width: 15%;
    display: block;
    list-style: none;
    border-radius: 5px;
    color: #f4f5f7;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.8;
}

.subtitle {
    display: block;
    font-size: 13px;
}

.menubar {
    display: none;
}

@media (max-width: 480px) {
    .logo {
        width: 40px;
        height: 40px;
    }

    .seminar {
        font-size: 0.63em;
        font-weight: bolder;
    }

    .link {
        display: none;
    }

    .menubar {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}
