.container_archives {
    width: 100%;
    color: #333;
    font-size: 2em;
    background: #f4f5f7;
    height: 100vh;
    margin: 101px auto 0;

    .blog_archives {
        font-size: 0.8em;
        margin: 2em auto 1em;
        width: 85%;
        text-align: center;
        padding-bottom: 0.5em;
        border-bottom: 2px solid #dddcda;
    }

    .blog_items__list {
        width: 85%;
        margin: 1.5em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .container_archives {
        margin: 61px auto 0;

        .blog_categories {
            font-size: 0.5em;
            margin: 1.5em auto 1em;
            width: 85%;
        }

        .blog_items__list {
            width: 85%;
            margin-top: 1em;
        }
    }
}
