.link {
    height: 98px;
    border-top: 1px solid #dddcda;
    //member部分のボタンのスタイル
    // margin-top: 80px;
    text-align: center;
}

.btn {
    display: flex;
    color: #fff;
    margin: 25px auto 0;
    background: #1d2f5f;
    padding: 10px 30px;
    border-radius: 100vh;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    width: 140px;
    transition: 0.8s;
}

.btn:hover {
    background: #fff;
    border: 1px solid #1d2f5f;
    color: #1d2f5f;
    cursor: pointer;
}

.btn::after {
    content: "";
    width: 9px;
    height: 9px;
    border-top: 3px solid #f4f5f7;
    border-right: 3px solid #f4f5f7;
    transform: rotate(45deg);
    margin-left: 0.7em;
    transition: 0.8s;
}

.btn:hover::after {
    border-top: 3px solid #1d2f5f;
    border-right: 3px solid #1d2f5f;
}

@media (max-width: 480px) {
    // .link {
    //     margin-top: 10px;
    // }

    // .btn {
    //     margin: 10% auto 0;
    // }
}

@media (min-width: 481px) and (max-width: 768px) {
}
