.container_post {
    width: 100%;
    color: #333;
    font-size: 2em;
    background: #f4f5f7;
    height: 100%;
    margin: 101px auto 0;
    display: flex;
}

.title_post {
    font-size: 1.1em;
    margin: 0 auto;
    padding-left: 0.4em;
    color: #333;
    font-weight: bold;
}

.categories_post {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.2em 0.5em;
    font-size: 0.5em;
    border: 2px solid #1d2f5f;
    border-radius: 100vh;
    transition: 0.8s;
}

.categories_post:hover {
    background: #1d2f5f;
    color: #f4f5f7;
    cursor: pointer;
}

.date_post {
    margin-top: 1em;
    font-size: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #dddcda;
}

.content_post {
    width: 60%;
    margin-left: 3em;
}

.img_post {
    margin: 1.3em auto 0;
}

.text_post {
    font-size: 0.8em;
    margin-top: 1em;

    h1 {
        background: #1d2f5f;
        font-size: 1em;
        color: #f4f5f7;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        padding-left: 0.5em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        margin-top: 2.5em;
        margin-bottom: 1.2em;
        border-radius: 5px;
    }

    p {
        font-size: 0.6em;
        width: 90%;
        margin: 0 0 0.8em 1em;

        &:last-child {
            margin-bottom: 2em;
        }
    }

    h2 {
        font-size: 0.9em;
        margin-left: 0.3em;
    }

    strong {
        color: #1d2f5f;
    }

    li {
        font-size: 0.8em;
        padding-bottom: 0.1em;
        margin-left: 1em;
        margin-bottom: 0.3em;
        list-style: square inside;
    }

    a {
        color: #1d2f5f;
        text-decoration: underline;
        font-size: 0.8em;
        margin-bottom: 2em;
        display: block;
        width: 30%;
        filter: brightness(300%);

        &:hover {
            filter: brightness(400%);
        }
    }
}

.nav {
    flex: 1;
    margin: 1.3em 3em 2em 1.3em;
    padding: 1em 0.5em;
    border: 1px solid #dddcda;
    border-bottom: 5px solid #1c273e;
    height: 480px;
    border-radius: 10px;
    background: #fff;
}

.author_title {
    font-size: 0.4em;
    margin-bottom: 1em;
    font-weight: bold;
}

.author_img {
    margin: 0 auto;
    text-align: center;
}

.img {
    border-radius: 50%;
    margin: 0 auto;
}

.author_name {
    font-weight: bold;
    border-top: 2px solid #1c273e;
    font-size: 0.5em;
    padding-top: 1em;
}

.author_text {
    font-size: 0.4em;
    margin-bottom: 0.5em;
}

.author_link__github {
    font-size: 0.4em;
    font-weight: bold;

    &:hover {
        filter: brightness(200%);
        text-decoration: underline;
    }
}

@media (max-width: 480px) {
    .container_post {
        margin: 61px auto 0;
        flex-direction: column;
    }

    .title_post {
        font-size: 0.6em;
    }

    .categories_post {
        font-size: 0.3em;
    }

    .date_post {
        font-size: 0.3em;
        padding-left: 1em;
    }

    .content_post {
        width: 90%;
        margin: 0 auto;
    }

    .text_post {
        font-size: 0.5em;

        p {
            font-size: 0.8em;
        }

        a {
            width: 60%;
        }
    }

    .nav {
        margin: 1em auto 1em;
        width: 90%;
    }
}
